In [1]:
import pandas as pd

**1.** Load and Display Data → Read the dataset and print the first 5 rows.

In [2]:
data = pd.read_csv("/content/covid_19_country_wise_latest.csv")

In [3]:
data.head()

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

**2.** Set the Dataset index is Unnamed: 0

In [4]:
data = data.set_index("Unnamed: 0")

In [5]:
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
Unnamed: 0,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,non,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa

**3.** Now replace the index column Unnamed: 0 name with index

In [6]:
data.rename_axis("index", inplace=True)

In [7]:
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

**4.** Create Function that take dataset columns and replace whitespace
with Underscore and update dataset automatically and the pass the
dataset.

In [8]:
def clean_whitespaces(data):
    data.columns = data.columns.str.replace(" ", "_")
    return data

In [9]:
clean_whitespaces(data)

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,non,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [10]:
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [ ]:
# import re
# def clena_columns_name(data):

#     data.columns = [re.sub(r'[\s\/%]+', '_', col) for col in data.columns]
#     data.columns = [col.lower() for col in data.columns]
#     return data

In [ ]:
# clena_columns_name(data)

**5.** Check Basic Information → Find column names, data types, and
missing values.

In [12]:
data.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths_/_100_Cases',
       'Recovered_/_100_Cases', 'Deaths_/_100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    object
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New_cases               177 non-null    float64
 6   New_deaths              177 non-null    float64
 7   New_recovered           187 non-null    int64
 8   Deaths_/_100_Cases      187 non-null    float64
 9   Recovered_/_100_Cases   187 non-null    float64
 10  Deaths_/_100_Recovered  187 non-null    float64
 11  Confirmed_last_week     187 non-null    int64
 12  1_week_change           187 non-null    int64
 13  1_week_%_increase       187 non-null    float64
 14  WHO_Region              187 non-null    object
dtypes: float64(6), int64(6), object(3)
memory usage: 23.4+ KB

In [16]:
data.isnull().sum()

Country/Region             0
Confirmed                  0
Deaths                     0
Recovered                  0
Active                     0
New_cases                 10
New_deaths                10
New_recovered              0
Deaths_/_100_Cases         0
Recovered_/_100_Cases      0
Deaths_/_100_Recovered     0
Confirmed_last_week        0
1_week_change              0
1_week_%_increase          0
WHO_Region                 0
dtype: int64

In [18]:
data.isnull().sum().sum()

20

**6.** fill the nan values with the mean of the column

In [31]:
data["New_cases"][data["New_cases"].isnull()]

index
11    NaN
19    NaN
48    NaN
73    NaN
95    NaN
112   NaN
121   NaN
172   NaN
180   NaN
181   NaN
Name: New_cases, dtype: float64

In [33]:
data["New_cases"].mean()

1282.7401129943503

In [35]:
data["New_cases"] = data["New_cases"].fillna(data["New_cases"].mean())

In [36]:
data["New_deaths"].mean()

30.401129943502823

In [37]:
data["New_deaths"] = data["New_deaths"].fillna(data["New_deaths"].mean())

In [38]:
data.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New_cases                 0
New_deaths                0
New_recovered             0
Deaths_/_100_Cases        0
Recovered_/_100_Cases     0
Deaths_/_100_Recovered    0
Confirmed_last_week       0
1_week_change             0
1_week_%_increase         0
WHO_Region                0
dtype: int64

**7.** Count the number of unique countries in the dataset.

In [41]:
data["Country/Region"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [57]:
data["Country/Region"].value_counts()

Country/Region
Afghanistan    1
Pakistan       1
Nepal          1
Netherlands    1
New Zealand    1
              ..
Georgia        1
Germany        1
Ghana          1
Greece         1
Zimbabwe       1
Name: count, Length: 187, dtype: int64

In [43]:
print(len(data["Country/Region"].unique()))

187

**8.** Check if there are any duplicate country entries and remove them if
needed.

In [51]:
data["Country/Region"].duplicated().sum()

0

In [52]:
data["Country/Region"][data["Country/Region"].duplicated()]

Series([], Name: Country/Region, dtype: object)

In [ ]:
#There is no duplicate value in it, if there is any, it will be removed
data[data["Country/Region"].duplicated()]
data = data.drop_duplicates(subset=["Country/Region"])
print(len(data["Country/Region"].unique()))

**9.** Find the mean, median, and standard deviation of total cases.

In [59]:
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [58]:
data.describe()

,Confirmed,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase
count,1.870000e+02,1.870000e+02,1.870000e+02,187.000000,187.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,5.063148e+04,3.400194e+04,1282.740113,30.401130,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,1.901882e+05,2.133262e+05,5704.395582,119.874498,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,6.265000e+02,1.415000e+02,5.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,2.815000e+03,1.600000e+03,71.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,2.260600e+04,9.149000e+03,586.500000,7.500000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

**10.** Find out the string in Deaths Column and replace it with the
mean of Deaths column.

In [68]:
data.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths_/_100_Cases',
       'Recovered_/_100_Cases', 'Deaths_/_100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')

In [70]:
data["Deaths"].unique()

array(['1269', '144', '1163', '52', '41', '3', '3059', '711', '167',
       '713', '423', '11', '141', '2965', '7', '538', '9822', '2', '35',
       '0', '2647', '294', '87618', '347', '53', '6', '1', '22', '391',
       '8944', '59', '75', '9187', '4656', '8777', '54', '208', '115',
       '96', '139', '87', '19', '373', '613', '58', '1083', '5532',
       '4652', '408', '51', '69', '34', '228', '329', '30212', '49', '8',
       '16', '9125', '168', '202', '1761', '45', '26', '20', '158',
       '1166', '596', '10', '33408', '4838', '15912', '4458', '1764',
       '474', '35112', '998', '585', '285', '185', '438', '1301', '31',
       '12', '72', '64', '80', '112', '91', '99', '124', '15', '9', '156',
       '44022', '748', '4', '316', '48', '6160', '108', '860', '466',
       '255', '393', '5842', '1322', '43', '18418', '1945', '1676',
       '1719', '165', '2206', '13334', '5', '42', '14', '2760', '194',
       '543', '66', '27', '28', '116', '93', '7067', '300', '46', '28432',
       '720', '24', '5700', '1978', '40', '60', '21', '18', '50', '5630',
       '148011', '1636', '345', '45844', '121', '146', '78', '483', '140',
       'non'], dtype=object)

In [ ]:
# Calculate the mean of the 'Deaths' column, ignoring non-numeric values
mean_deaths = pd.to_numeric(data['Deaths'], errors='coerce').mean()

# Replace non-numeric values in the 'Deaths' column with the mean
data['Deaths'] = pd.to_numeric(data['Deaths'], errors='coerce').fillna(mean_deaths)

In [80]:
data['Deaths'].value_counts()

Deaths
0       17
11       4
1        3
10       3
2        3
        ..
408      1
4652     1
5532     1
1083     1
non      1
Name: count, Length: 150, dtype: int64

In [73]:
data[data["Deaths"] == "non"]

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
index,,,,,,,,,,,,,,,
186,Zimbabwe,2704,non,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [74]:
data.loc[186:186, "Deaths"]

index
186    non
Name: Deaths, dtype: object

In [75]:
data.iloc[186:187, 2:3]

      Deaths
index
186      non

In [76]:
data["Deaths"].mean()

TypeError: Could not convert string '1269144116352413305971116771342311141296575389822235026472942876183347536122039189445975918746568777754208115961398719373613580108355324652408510693422803293021249816912516820200176145262015801166596103340848381591244581764474351121099811585285185438130103151127264180112919912415124915610440227484045316118486160221086986046625539358421322043184181945167617191652206133345000421427601945430662728116937067300462843211720245700197840760215801885056301480112163634545844351211460781483140non' to numeric

In [ ]:
data.loc[186:186, "Deaths"]